@using System.Data.SqlClient;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

<body>

@{ var cookieoptions= new CookieOptions{Path="/"};

HttpContextAccessor?.HttpContext?.Response.Cookies.Append("cmd","",cookieoptions);

string myuname="";
string mydname="";
string myemail="";
string? myphnumber="";
string mylocation="";
string? mycontact="";
DateTime myhired=DateTime.Parse("2025/07/06 13:00");


var cfg= WebApplication.CreateBuilder().Configuration;
string? connStr= cfg.GetValue<string>("ConnectionString");

SqlConnection conn= new SqlConnection(connStr);
string sql= "select uname,dname,email,phnumber,location,contact,hired from dbo.users where uname='"+(string?)HttpContextAccessor?.HttpContext?.Request.Cookies["uname_login"]+"'";

conn.Open();
SqlCommand cmd= new SqlCommand(sql,conn);
SqlDataReader rdr= cmd.ExecuteReader();

while(rdr.Read()){

myuname=(string)rdr[0];
mydname=(string)rdr[1];
myemail=(string)rdr[2];
myphnumber=(string?)rdr[3];
mylocation=(string)rdr[4];
mycontact=(string?)rdr[5];
myhired=(DateTime)rdr[6];

} rdr.Close();
conn.Close();
}


<fieldset style="border-radius:30px"><legend><button onclick="window.postMessage('goto mainmenu')"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Back_Arrow.svg/800px-Back_Arrow.svg.png?20131211215511" style="width:20px"></button>&nbsp;
<text style="background:white; border:2px solid white; border-radius:500px"><b>Employees</b></text>
<fieldset style="display:inline-block; cursor:pointer" title="Refresh" onclick="document.getElementById('employees_list').src=document.getElementById('employees_list').src">
🔄
</fieldset>
</legend>



<table style="width:100%"><tbody><tr>
<td style="border-right:2px solid black; border-collapse:collapse; background:#FFFFFF7F; border-radius:20px 0px 0px 20px">
<marquee direction="up" behavior="slide" scrollamount="50">
<div style="border-left:4px solid transparent">
<h1>@mydname</h1>
<h2>@myuname</h2><br>
📍: @mylocation<br>
📧: @myemail<br>
@if(myphnumber!=""){<text>📞: @myphnumber</text><br>}

@if(mycontact!=""){<table><tbody><tr>
<td>📶:</td>
<td><textarea readonly rows="4" style="font-family:times">@mycontact</textarea></td>
</tr></tbody></table>}

👤: @myhired.ToString("dd.MM.yyyy")
</div>
</marquee>
</td>

<td style="width:75%">


<embed id="employees_list" src="/Home/Employeeslist" style="width:100%; height:80vh">


</td>

</tr></tbody></table>



</fieldset>


</body>